.slick-box
  .title-post.content_post{style:"background-image: url(#{post.image[0]});",loding:"lazy",alt:"投稿画像"}
    = simple_format(post.text[0])
  .first-post.content_post{style:"background-image: url(#{post.image[1]});",loding:"lazy",alt:"投稿画像"}
    = simple_format(post.text[1])
  .second-post.content_post{style:"background-image: url(#{post.image[2]});",loding:"lazy",alt:"投稿画像"}
    = simple_format(post.text[2])
  .third-post.content_post{style:"background-image: url(#{post.image[3]});",loding:"lazy",alt:"投稿画像"}
    = simple_format(post.text[3])
  .fourth-post.content_post{style:"background-image: url(#{post.image[4]});",loding:"lazy",alt:"投稿画像"}
    = simple_format(post.text[4])
  .last-post.content_post{style:"background-image: url(#{post.image[4]});",loding:"lazy",alt:"投稿画像"}
    = simple_format(post.text[4])
    .more{data: {target: "edit-user#{post.id}"}}
      = image_tag 'more.png'
      -# %ul.more_list
        %li
          = link_to '詳細', "/posts/#{post.id}", method: :get
        - if user_signed_in? && current_user.id == post.user_id
          %li
            = link_to '編集', "/posts/#{post.id}/edit", method: :get
          %li
            = link_to '削除', "/posts/#{post.id}", method: :delete
    .continued
      = link_to "#{post.link}",target: :_blank do 
        = image_tag src="continued.png"
    -# #closeModalS.closeModalS
    -#   &#10005;
    .modalS{id:"edit-user#{post.id}"}
      #modalBgS.modalBg
      -# #closeModalS.closeModalS
      -#   &#10005;
      .modalWrapperS
        .modalContents
          .edit-user
            .edit-user-box
              .edit-user__title
                #{post.user.name}先生の次回作にご期待ください
              = link_to post.user do  
                .edit-user__icon
                  - if post.user.avatar?
                    = image_tag post.user.avatar.to_s,alt:"ユーザーアイコン"
                  - else
                    = image_tag 'menber.png',alt:"ユーザーアイコン"
              .edit-user__share
                %ul.share-button
                  %li
                    =link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=【#{post.text[0]}】To be continued... ",class:"share-button-box",target:'_blank' do
                      %i.fab.fa-facebook.fb-button
                  %li
                    =link_to "https://twitter.com/share?url=#{request.url}&text=【#{post.text[0]}】To be continued... ",class:"share-button-box",target:'_blank' do
                      %i.fab.fa-twitter.twi-button
                  %li
                    =link_to "http://line.me/R/msg/text/?#{request.url}&text=【#{post.text[0]}】To be continued... ",class:"share-button-box",target:'_blank' do
                      %i.fab.fa-line.line-button
      #closeModalS.closeModalS
        = image_tag 'more.png'
    -# #closeModalS.closeModalS
    -#   &#10005;