.mein
  .contents.show-row
    .show-title
      %h2.show-title-post 
        #{@post.text[0]} 
      %h3.show-title-user 
        by #{link_to @post.user.name}
    .show-box
      .show-slide
        = render partial: "showPost", locals: { post: @post }
      .comment
        .comment-count
          総コメント数：#{@post.comments.count}
        .comment__list
          - @comments.each do |comment|
            .comment__list__user
              = link_to "/users/#{comment.user_id}",class:"comment__list__user-image" do
                = image_tag comment.user.avatar.to_s
              ：
              .comment__list__user-text
                =comment.text
                
    = form_with url:"/posts/#{@post.id}/comments",method: :post,id:"new_comment",class:"comment-form" do |f|
      = f.text_field :text,cols:"30", placeholder:"読者アンケートにご協力ください！", rows:"2",class:"comment-form-text",id:"comment-form#{@post.id}",data: {target: "comment-form#{@post.id}"}
      = f.button :submit,class:"submit-button state-0 comment-form-button",data: {target: "comment-button#{@post.id}"},id:"comment-button#{@post.id}" do
        %span.pre-state-msg 感想を送る
        %span.current-state-msg.hidden 送っています...
        %span.done-state-msg.hidden 投稿しました！      
    .title-link
      =link_to "back",root_path