.mein
  .contents.show-row
    .show-title
      %h2.show-title-post 
        #{@post.text[0]} 
      %h3.show-title-user 
        by #{link_to @post.user.name,user_path(@post.user.id)}
    .show-box
      .show-slide
        = render partial: "post", locals: { post: @post }
      .comment
        .comment-nav
          .comment-count
            =render partial: "comments/count", locals: {post: @post}
          .good-button{id:"good-button#{@post.id}",data: {good:{button:{id:"#{@post.id}"}}}}
            = render partial: "likes/like", locals: {post: @post}
        .comment__list
          #comments
            =render partial: "comments/comment", collection: @comments                
    = form_with url:"/posts/#{@post.id}/comments",method: :post,id:"new_comment",class:"comment-form",remote: :ture do |f|
      = f.text_field :text,cols:"30", placeholder:"text", rows:"2",class:"comment-form-text",id:"comment-form#{@post.id}",data: {target: "comment-form#{@post.id}"}
      = f.button :submit,class:"submit-button state-0 comment-form-button",data: {target: "comment-button#{@post.id}"},id:"comment-button#{@post.id}" do
        %span.pre-state-msg 感想を送る
        %span.current-state-msg.hidden 送っています...
        %span.done-state-msg.hidden 投稿しました！      
    .edit-user__share
      %ul.share-button
        %li
          %p share!!
        %li
          =link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=【#{@post.text[0]}】To be continued... ",class:"share-button-box",target:'_blank' do
            %i.fab.fa-facebook.fb-button
        %li
          =link_to "https://twitter.com/share?url=#{request.url}&text=【#{@post.text[0]}】To be continued... ",class:"share-button-box",target:'_blank' do
            %i.fab.fa-twitter.twi-button
        %li
          =link_to "http://line.me/R/msg/text/?#{request.url}&text=【#{@post.text[0]}】To be continued... ",class:"share-button-box",target:'_blank' do
            %i.fab.fa-line.line-button
    .title-link
      =link_to "back",root_path