.contents.row
  .content_post{:style => "background-image: url(#{@post.image});"}
    - if user_signed_in? && current_user.id == @post.user_id
      .more
        %span= image_tag 'arrow_top.png'
        %ul.more_list
          %li
            = link_to '編集', "/posts/#{@post.id}/edit", method: :get
          %li
            = link_to '削除', "/posts/#{@post.id}", method: :delete
    = simple_format(@post.text)
    %span.name
      %a{:href => "/users/#{@post.user.id}"}
        %span 投稿者
        = @post.user.nickname
  .container
    / ここからフォーム
    - if current_user
      = form_tag("/posts/#{@post.id}/comments", method: :post) do
        %textarea{:cols => "30", :name => "text", :placeholder => "コメントする", :rows => "2"}
        %input{:type => "submit", :value => "SENT"}/
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text
